@font-face {
  font-family: "Anton";
  src: url('../assets/fonts/Anton-Regular.ttf');
}

*{
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}


#home{
  display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
margin-top: 50px;
position: relative;
font-family: 'Anton';
font-size: 50px;
text-align: center;
color: white;
letter-spacing: 10px;
background-image: url("../assets/images/home_banner.gif");
background-repeat: no-repeat;
background-position: center;
width: 100%;
height: 1000px;
object-fit: cover;
}

.img_container{
  text-align: center;
  margin: 24px 5px 24px 5px;
}

.account_td{
  padding: 10px;
}

.form_container{
  position: relative;
}

.inline_text{
  font-family: 'Bahnschrift';
  width: 95%;
  display: block;
  margin: 5px auto;
  text-align: center;
  padding: 5px;
  border-radius: 4px;

}
.inline_button{
  font-family: 'Bahnschrift';
  width: 80%;
  text-align: center;
  padding: 10px;
  margin: 10px auto;
  display: block;
  border-radius: 10px;
  transition: 300ms;
  transition-delay: 10ms;
  transition-timing-function: ease-in-out;
}

.account_table_container{
  margin: 0px auto;
}

.account_form{
  padding: 20px;
  margin: 10px auto;
  border: solid black;
  border-width: 8px;
  border-style: double;
  border-radius: 10px;
}

.inline_button:hover{
    border-color: #a012b3;
    transform: scale(1.2);
}

.avatar {
  width: 12%;
}

.button{
background-color: white;
border: none;
color: black;
padding: 15px 32px;
text-align: center;
display: inline-block;
font-size: 16px;
margin: 30px;
cursor: pointer;
transition: 250ms;
transition-timing-function: ease-in;

}

.button:hover{
  color: white;
  background-color: black;
  transform: scale(1.1);
}


.header{
  width: 100%;
  height: 120px;
  display: block;
  background-color: black ; //#E85F12
}

.inner_header{
  width: 80%;
  height: 100%;
  display: block;
  margin: 0 auto;
}


.logo_container{
  height: 100%;
  display: table;
  float: left;
}


.logo_container h1{
  color: white;
  height: 100%;
  display: table-cell;
  vertical-align: middle;

  font-size: 32px;
  font-weight: 100;
}

.logo_container h1 span{
  font-family: 'Anton';
  font-weight: 800;
}

.slogan_container{
  height: 100%;
  display: table;
  float: left;
}

.slogan_container h1{
  color: white;
  height: 100%;
  display: table-cell;
  vertical-align: bottom;
  font-family: 'Anton';
  font-size: 15px;
  font-weight: 100;
  padding-bottom: 20%;
}

.navigation{
  float: right;
  height: 100%;
}

.navigation li a{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 20px;
  color: white;
  font-family: 'Anton';
  font-size: 22px;
  text-decoration:none;
}

.navigation li a:last-child{
  padding-right: 0px;

}

.navigation li{
  display: table-cell;
  height: 100%;
  vertical-align: middle;
  float: left;

}


footer{
  position: relative;
  bottom: 0;
  margin-bottom: 0;
  width: 100%;
  background: #000;
  padding: 5px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer .menu{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

footer .menu li{
  list-style: none;
}

footer .menu li a{
  font-size: 1.2em;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  text-decoration: none;
  opacity: 0.75;
}

footer .menu li a:hover{
  opacity: 1;
}

footer p{
  color: #fff;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 1.1em;

}

footer .wave{
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background:url("../assets/images/wave.png");
  background-size: 3000px 100px;
}

footer .wave#wave1{
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWave 4s linear infinite;
}

footer .wave#wave2{
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animateWave_02 4s linear infinite;
}
footer .wave#wave3{
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWave 3s linear infinite;
}

footer .wave#wave4{
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animateWave_02 3s linear infinite;
}


@keyframes animateWave {
  0%{
    background-position-x: 1000px;
  }

  100%{
    background-position-x: 0px;
  }
}

@keyframes animateWave_02 {
  0%{
    background-position-x: 0px;
  }

  100%{
    background-position-x: 1000px;
  }
}
