@font-face {
  font-family: "Anton";
  src: url('../assets/fonts/Anton-Regular.ttf');
}

*{
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}

.header{
  width: 100%;
  height: 120px;
  display: block;
  background-color: black ; //#E85F12
}

.inner_header{
  width: 80%;
  height: 100%;
  display: block;
  margin: 0 auto;
}


.logo_container{
  height: 100%;
  display: table;
  float: left;
}

.logo_container h1{
  color: white;
  height: 100%;
  display: table-cell;
  vertical-align: middle;

  font-size: 32px;
  font-weight: 100;
}

.logo_container h1 span{
  font-family: 'Anton';
  font-weight: 800;
}

.slogan_container{
  height: 100%;
  display: table;
  float: left;
}

.slogan_container h1{
  color: white;
  height: 100%;
  display: table-cell;
  vertical-align: bottom;
  font-family: 'Anton';
  font-size: 15px;
  font-weight: 100;
  padding-bottom: 20%;
}

.navigation{
  float: right;
  height: 100%;
}

.navigation a{
  height: 100%;
  display: table;
  float: left;
  padding: 0px 20px;
}

.navigation a:last-child{
  padding-right: 0px;
}

.navigation a li{
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  color: white;
  font-family: 'Anton';
  font-size: 22px;
}


footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #000;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer .social_icon, footer .menu{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

footer .social_icon li, footer .menu li{
  list-style: none;
}

footer .social_icon li a{
  font-size: 2em;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}

footer .social_icon li a:hover{
  transform: translateY(-10px);
}


footer .menu li a{
  font-size: 1.2em;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  text-decoration: none;
  opacity: 0.75;
}

footer .menu li a:hover{
  opacity: 1;
}

footer p{
  color: #fff;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 1.1em;

}

footer .wave{
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background:url("../assets/images/wave.png");
  background-size: 3000px 100px;
}

footer .wave#wave1{
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWave 4s linear infinite;
}

footer .wave#wave2{
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animateWave_02 4s linear infinite;
}
footer .wave#wave3{
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWave 3s linear infinite;
}

footer .wave#wave4{
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animateWave_02 3s linear infinite;
}


@keyframes animateWave {
  0%{
    background-position-x: 1000px;
  }

  100%{
    background-position-x: 0px;
  }
}

@keyframes animateWave_02 {
  0%{
    background-position-x: 0px;
  }

  100%{
    background-position-x: 1000px;
  }
}
