
<footer id="footer_id">
  <div class="waves">
    <div class="wave" id="wave1"></div>
    <div class="wave" id="wave2"></div>
    <div class="wave" id="wave3"></div>
    <div class="wave" id="wave4"></div>
  </div>
  <ul class="menu">
    <li><a href="http://localhost/dhbw/tinf20_ludomo_app/index.php">Home</a></li>
    <li><a href="http://localhost/dhbw/tinf20_ludomo_app/php/impressum.php">Imprint</a></li>
    <li><a href="http://localhost/dhbw/tinf20_ludomo_app/php/datenschutz.php">Private Privacy</a></li>
    <li><a href="http://localhost/dhbw/tinf20_ludomo_app/php/code_video.php">Code-Video</a></li>
    <li><a href="http://localhost/dhbw/tinf20_ludomo_app/php/website_video.php">Website-Video</a></li>
    <li><a href="http://localhost/dhbw/tinf20_ludomo_app/php/forms/contact.php">Contact</a></li>
  </ul>
  <p>©2021 Ludomo | All Rights Reserved</p>
</footer>
