<div class="header">
  <div class="inner_header">
    <div class="logo_container">
      <h1>LU<span>DOMO</span></h1>
    </div>
    <div class="slogan_container">
      <h1>Your Gaming Shop</h1>
    </div>
    <ul class="navigation">
      <li> <a href="http://localhost/dhbw/tinf20_ludomo_app"> Home </a></li>
      <li> <a href="http://localhost/dhbw/tinf20_ludomo_app/php/shop.php"> Shop </a> </li>
      <li> <a href="http://localhost/dhbw/tinf20_ludomo_app/php/konto.php"> Account </a> </li>
      <li> <a href="http://localhost/dhbw/tinf20_ludomo_app/php/forms/contact.php"> Contact </a> </li>
      <?php
        // Prüfen ob Ware zum Warenkorb addiert sind und die Anzahl der Ware in
        // eine Variable ($cart_counter) speichern, um diese noch im Header anzuzeigen
        $cart_counter = 0;
        if(isset($_COOKIE['Warenkorb'])){
          $IDs = $_COOKIE['Warenkorb'];

          $IDs = explode(',', $IDs);


          $cart_counter = count($IDs);
        }else{
          $cart_counter = 0;
        }

      ?>
      <li> <a href="http://localhost/dhbw/tinf20_ludomo_app/php/warenkorb.php"> <i class="fas fa-shopping-cart"></i> (<?= $cart_counter; ?>) </a> </li>
    </ul>
  </div>
</div>
